@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    background-color: #343942;
    color: #FFFFF0;
}

/* Headings and Logo */

h1, h2 {
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFFFF0;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #FFFFF0;
}

.active {
    border-bottom: 2px solid #FFFFF0;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text {
    color: #FFFFF0;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

/* Animates zoom on loading page */

animation-name: hero-zoom;
animation-duration: 3s;
animation-fill-mode: backwards;
}

/* Create the zoom effect on hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale (1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

    width: 500px;
    height: 100px;

    background-color: rgb(0,0,0, 0.5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Us */

#about-us {
    height: 750px;
    width: 40%;
    margin: auto;
}

#about-title {
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
    padding-bottom: 15px;
    margin: 50px 50px 50px 50px;
}

#about-text {
    text-align: center;

    padding: 15px;

    margin: 50px 50px 50px 50px;

    background-color: rgb(0,0,0, 0.3);

    border-radius: 15px;
}

#about-image {
    height: 300px;
    width: 600px;

    margin: auto;

    background: url('../images/about-image.jpeg') center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 25px;
}

/* Timetable */

#timetable {
    height: 150px;
    width: 100%;
    background-color: black;
}

#timetable div {
    color: #FFFFF0; 
    background-color: black;
    width: 20%;
    height: 150px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #FFFFF0;
    box-sizing: border-box;
    font-size: 75%;
}

/* Contact Details */

#contact {
    height: 150px;
    width: 100%;

    text-align: center;

    padding-top: 50px;

    margin: 0;
}

/* Footer */

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 25px;
    padding: 50px;
    color: #FFFFF0;
}

/* Gallery Page */
