@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    background-color: #343942;
    color: #FFFFF0;
}


/* Headings and Logo */

nav {
    display: flex;
}

h1,
h2 {
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFFFF0;
}

#logo {
    font-size: 250%;
    margin-left: 25px;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 25px;
    text-align: center;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #FFFFF0;
}

.active {
    border-bottom: 2px solid #FFFFF0;
}

/* Hero Image */

#hero-outer {

    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text {
    color: #FFFFF0;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

    /* Animates zoom on loading page */

    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

/* Create the zoom effect on hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale (1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

    width: 500px;
    height: 100px;

    background-color: rgb(0, 0, 0, 0.5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About Us */

#about-us {
    width: 60%;
    margin: auto;
    font-size: 120%;
}

#about-title {
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
    padding-bottom: 10px;
    margin-top: 50px;
}

#about-text {
    text-align: center;

    padding: 15px;
    margin: 50px 50px 50px 50px;

    background-color: rgb(0, 0, 0, 0.3);

    border-radius: 15px;
}

#about-us a {
    color: #a605e6;
    text-decoration: underline;
    text-transform: uppercase;
}

#about-image {
    height: 300px;
    width: 600px;

    margin: 0 auto;

    background: url('../images/about-image.jpeg') center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 25px;

}


/* Timetable */

#timetable {
    height: 150px;
    width: 100%;
    background-color: black;

}

#timetable div {
    color: #FFFFF0;
    background-color: black;
    width: 20%;
    height: 150px;
    float: left;
    padding: 30px;
    text-align: center;
    border: 2px solid #FFFFF0;
    box-sizing: border-box;
    font-size: 75%;
}

/* Contact Details */

#contact {
    height: 150px;
    width: 100%;

    text-align: center;

    padding-top: 50px;

    margin: 0;
}

/* Footer */

footer {
    height: 150px;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    margin: 5px;
    padding: 5px;
    color: #FFFFF0;
}

/* Gallery Page */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 3px;
}

#photos>img {
    width: 100%;
    border: solid 2px #FFFFF0;

}

/* Media Queries */

/* For large to medium screens sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #about-us {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #timetable>div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #footer>i {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

}

/* For medium screens sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 25px;
        margin-bottom: 25px;
        line-height: 25px;
    }

    #about-us {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #about-image {
        width: 95%;
        background-size: cover;
    }

    #photos {
        column-count: 2;
    }

    #footer {
        padding: 10px;
        text-align: center;
    }
}

/* Form */

.form-section {
    clear: left;
    background: url("../images/contact-us-bg.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {

    color: #FFFFF0;
    background-color: rgb(0, 0, 0, 0.5);
    max-width: 400px;

    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;

}

.signup-form>h2 {
    color: #FFFFF0;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #FFFFF0;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 2px solid #FFFFF0;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #a605e6;
}

.join-button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 100%;
    background-color: #a605e6;
    color: #FFFFF0;
    display: block;
    text-transform: uppercase;
}

.join-button:hover {
    background-color: #FFFFF0;
    color: #a605e6;
}