@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Oxygen, sans-serif;
    font-weight: 400;
    background-color: #3c4552;
    color: #f5f5f5;
}

/* Headings and Logo */

h1, h2 {
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f5f5f5;
}

#logo {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #f5f5f5;
}

.active {
    border-bottom: 2px solid #f5f5f5;
}

/* Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/hero-image2.jpeg)
}